<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<form id="dictForm"  role="form" method="post" action="dict/save">
    <div class="form-group" >
        <label for="type">字典类型:</label>
        <input type="text" class="form-control" name="type" id="type"  placeholder="请输入字典类型" />
    </div>
    <div class="form-group">
        <label for="code">字典编码:</label>
        <input type="text" class="form-control" name="code" id="code"  placeholder="请输入字典编码" />
    </div>
    <div class="form-group" >
        <label for="value">字典值:</label>
        <input type="text" class="form-control" name="value" id="value"  placeholder="请输入字典值" />
    </div>
    <div class="form-group">
        <label for="text">字典描述:</label>
        <input type="text" class="form-control" name="text" id="text"   placeholder="请输入字典描述" />
    </div>
    <div class="form-group">
        <label >前端加载:</label>
        <label  class='radio-inline'><input type='radio' name='isLoad' value='1'  checked="checked"  />允许</label>
        <label  class='radio-inline'><input type='radio' name='isLoad' value='0'   />不允许</label>
    </div>

</form>
<script th:inline="javascript">
    <![CDATA[
    $(function () {
        $('#dictForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                type: {
                    message: '字典类型验证失败',
                    validators: {
                        notEmpty: {
                            message: '字典类型不能为空'
                        }
                    }
                },
                code: {
                    message: '字典编码验证失败',
                    validators: {
                        notEmpty: {
                            message: '字典编码不能为空'
                        },
                        threshold :  2 , //有6字符以上才发送ajax请求，（input中输入一个字符，插件会向服务器发送一次，设置限制，6字符以上才开始）
                        remote: {//ajax验证。server result:{"valid",true or false} 向服务发送当前input name值，获得一个json数据。例表示正确：{"valid",true}
                            url: api_url+"dict/isExist",//验证地址
                            data:function(validator) {// 获取需要传送到后台的验证的数据
                                return {
                                    type:$('#type').val(),
                                    code:$("#code").val(),
                                    id:$("#dictId").val()
                                }
                            },
                            message: '字典编码已存在',//提示消息
                            delay :  500,//每输入一个字符，就发ajax请求，服务器压力还是太大，设置2秒发送一次ajax（默认输入一个字符，提交一次，服务器压力太大）
                            type: 'POST'//请求方式
                        }
                    }
                },
                value: {
                    message: '字典值验证失败',
                    validators: {
                        notEmpty: {
                            message: '字典值不能为空'
                        }
                    }
                }
            }
        })

        // 绑定dialog的确定按钮的监听事件
        $("#btnOk",window.top.document).click(function() {

            // 此段是为防止需要点击两次按钮来实现验证的方法，若不添加此处的放行，那么我们将要点击两次确定按钮才可以提交验证
            var code = $("#code").val();
            // 判断当前的code又值，且当前不存在错误验证方可放开该字段的验证
            if(code != null && code != ""&&$("#code").parent("div").find('.glyphicon-remove').length==0){
                $('#dictForm').bootstrapValidator('enableFieldValidators', 'code', false);
            } else {
                $('#dictForm').bootstrapValidator('enableFieldValidators', 'code', true);
            }
            var bootstrapValidator = $("#dictForm", window.top.document).data('bootstrapValidator');
            bootstrapValidator.validate();
            if(bootstrapValidator.isValid()){
                $.post(api_url+$("#dictForm",window.top.document).attr('action'),$("#dictForm",window.top.document).serialize(),function(e){
                    if(e.result){
                        $('.modal-dialog', window.top.document).parent('div').remove()
                        $('body', window.top.document).find('.modal-backdrop').remove();
                        // jquery 调用刷新当前操作的table页面的refresh方法
                        $(window.parent.document).contents().find(".tab-pane.fade.active.in iframe")[0].contentWindow.doQuery();
                        window.Ewin.alert({message:'增加数据成功!'});
                    }else{
                        window.Ewin.alert({message:'增加数据失败!'});
                    }
                })
            }
        });
    })
    ]]>
</script>
</body>
</html>