<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/css/buttons.css}" rel="stylesheet" />
<link th:href="@{/css/flat.css}" rel="stylesheet" />
<link th:href="@{/css/font-awesome.css}" rel="stylesheet" />


<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap/alert/alert.js}"></script>
<script th:src="@{/js/bootstrap/date/date.prototype.format.js}"></script>

</html>